<!DOCTYPE html>
<html>
  <head>
        <title> John Akey - Home </title>
  </head>
  <body>
        <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="resume">Resume</a>
        </div>
        <h1><b>John Akey</b></h1>
        <img src="/templates/main_picture.jpg" alt="A Pictre of John Akey in a suit">
        <p>Software Engineering Student at Rochester Institute of Technology<br></p>
        <a href="https://github.com/jpakey99">GitHub</a>
        <a href="https://www.linkedin.com/in/johnakey/">LinkedIn</a>
        <a href="mailto:jpakey99@gmail.com">eMail</a>
  </body>
</html>